/* import only the necessary Bootstrap files */
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.App{
  max-width: 100vw;
}

$theme-colors: (
  "primary":    rgba(145,51,51,1),
  "secondary":  #FFDF80,
  "dark":       rgb(50, 41, 47)
);

*{
  font-family: 'Poppins', sans-serif;
}

$placeholder-img: '../images/placeholder.png';

.card{
  box-shadow: 2px 2px 5px darken($color: rgba(145,51,51,0.4), $amount: 30);
}

.btn-primary, .dropdown-menu{
  box-shadow: 2px 2px 3px darken($color: rgba(145,51,51,0.4), $amount: 50);
}


// Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";